<div>
  <h1>Welcome {{name}} to The Galactic Bookshelf </h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th> 
      <th>Photo</th>
      <th>Price</th>
      <th>Code</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    {{#each productManager}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.photo}}</td>
        <td>{{this.price}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>